body, html{
  height:100%;
}
body{
  background-image: url(https://media.wired.com/photos/5926a939cefba457b079abde/master/w_1164,c_limit/android_imessage.jpg);
  margin: 0px;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.title, .lineUpButton{
  padding:5px 12px;
  float:right;
}
.title, .interactButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  background-image: url("src/nerdyface.png");
  background-size: 80px;
  width: 65px;
  height: 65px;
  background-repeat: no-repeat;
  background-position: right 60% bottom 55%;
  border:2px solid yellow;
  border-radius:100px;
  position:absolute;
}

.dancer:hover{
  background-image: url("src/sunglasses.png");
  background-size: 80px;
  width: 65px;
  height: 65px;
  background-position: right 55% bottom 55%;
}

.mindBlownDancer{
  background-image: url("src/mindblown.png");
  background-size: 80px;
  width: 65px;
  height: 65px;
  background-repeat: no-repeat;
  background-position: right 60% bottom 55%;
  border:2px solid yellow;
  border-radius:100px;
  position:absolute;
}


/* .mindBlownDancer:hover{
  border: 500px;
} */

.heartEyesDancer{
  background-image: url("src/hearteyes.png");
  background-size: 80px;
  width: 65px;
  height: 65px;
  background-repeat: no-repeat;
  background-position: right 60% bottom 55%;
  border:2px solid red;
  border-radius:100px;
  position:absolute;
}

